.borde{
    border: 2px solid #ff8c00;
    border-radius: 5px;
}

.borde_inf{
    border-bottom: 3px solid #ff8c00;
    border-radius: 2px;
}

.contenido{
    margin: 16px;
}

.padding{
    padding: 10px;
}

.fondo{
    background-color: #333333;
    border: 1px solid #ff8c00;
    border-radius: 5px;
}

.barFija{
    position: fixed;
    top: 0;
    z-index:5000;

}

.fondo1{
    background-color: #dcdcdc;
}

.letraN {
    color: #ff8c00;
}

.letraB {
    color: #ffffff;
}

.letraBl{
    color: black;
}

.titulo{
    padding: 2px 3px;
    background-color: #333333;
    border: 1px solid #ff8c00;
    border-radius: 5px;

    /* letra */
    color: #ff8c00;
    font-size: 24px;
    font-weight: bold;
}

.barraPre{
    margin-top: -20px;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    
}

.inline{
    display: inline-flex;
}

