.borde{
    border: 1px solid #ff8c00;
}

.contenido{
    margin: 2em;
}

.fondo{
    background-color: #333333;
    border: 1px solid #ff8c00;
}

.fondo1{
    background-color: #dcdcdc;
    border: 1px solid #ff8c00;
}

.letraN {
    color: #ff8c00;
}

.letraB {
    color: #ffffff;
}

.titulo{
    padding: 2px 3px;
    background-color: #333333;
    border: 1px solid #ff8c00;
    color: #ff8c00;
    font-size: 1.5em;
    font-weight: bold;
}

.tableBorder{
    border: 1px solid #ff8c00;

}